
:root {
    --primary-color: #00B4D8 /* Rapid Teal */;
    --secondary-color:  #1B263B /* River Navy */;
    --accent1-color: #F4A261 /* Rock Clay */;
    --accent2-color: #F8F9FA /* Mist White */;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--secondary-color);
  background-color: var(--accent2-color);
}

/*  Layout and Topography  */
header, main, footer {
  max-width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

nav a{
    color: var(--accent2-color);
    text-decoration: none;
    font-weight:600
}

/*  Hero Section  */
.hero {
  position: relative;
}


.hero img {
    display:block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top : 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 24px;
    text-align: center;
    opacity: 0.85;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 120px;
    left: 50%;
    padding: 16px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--accent2-color);
  
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} 


/*   Header   */
header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color); 
    padding: 10px 20px;
}

header img {
  height: 80px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}


/*   Footer   */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--accent2-color);
}
.socialmedia {
    display: flex;
    gap: 10px;
}


.socialmedia {
    display: flex;
    gap: 12px;
}

.socialmedia img {
    width: 32px;
    height: 32px;
}

/*  History Section   */
.history {
    background-color: var(--accent2-color);
    padding: 24px;
    border-radius: 10px;
    margin: 24px 0;
}

/*  Adventuters Section  */
.adventurers h2 {
    margin-bottom: 16px;
}

.adventurers-gallery {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px; 
}

.adventurers-gallery figure {
  text-align: center;
  flex: 1 1 18%;
}

.adventures-gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.adventurers-gallery figcaption {
  margin-top: 8px;
  font-size: 0.9rem;
  color: var(--secondary-color);
}
